.card {
  margin: 5px 0;
}
.productList-card-image {
  height: 298px;
  z-index: 2;
  padding: 0;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card-inner {
  display: flex !important;
  justify-content: space-between !important;
}
.productList-card-link {
  text-decoration: none;
  color: #263233;
  margin: 0;
}
.productList-card-link:hover {
  color: #263233;
  text-decoration: underline;
}

.productList-card-title {
  margin-bottom: 0;
}

.sale-name {
  font-weight: lighter;
  color: #d13c36;
  font-style: italic;
  margin-bottom: 0;
}

.productList-card-cat {
  color: #263233;
  font-size: 12px;
}
