.pageContainer {
  /* width: 100vw; */
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/1167355/pexels-photo-1167355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageWrapper {
  width: 25%;
  padding: 20px;
  background-color: white;
}

.pageWrapper form {
  display: flex;
  flex-direction: column;
}

.pageWrapper input {
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .pageWrapper {
    width: "75%";
  }
}
