.pageContainer {
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageWrapper {
  width: 25%;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.pageWrapper form {
  display: flex;
  flex-direction: column;
}

.pageWrapper input {
  min-width: 40%;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .pageWrapper {
    width: 75%;
  }
}
