* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(184, 136, 16);
}

.page-title {
  font-weight: lighter;
}

/*
Prevent whitespace exposure below footer while content is loading. 
*/
.minimum-height {
  min-height: 60vh;
}

/*
Used by product quantity changer feature
*/
.amount-container {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.product-amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.discount-notice p {
  font-size: small;
  font-style: italic;
}

.discount-notice,
.discount-notice > * {
  margin-bottom: 0;
  color: #d13c36;
}

.errorPrompt {
  color: #d13c36;
}
