body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  margin: 5px 0px;
  /* font-size: 12px; */
  text-decoration: none;
  cursor: pointer;
}

/*
For UserList.jsx and ProductList.jsx
*/
.editIcon {
  color: darkblue;
  padding: 3px;
}
.deleteIcon {
  color: red;
  padding: 3px;
}
.deleteIcon:hover,
.editIcon:hover {
  cursor: pointer;
}

/*
For WidgetSmall.jsx and WidgetLarge.jsx
*/
.widgetTitle {
  font-size: 22px;
  font-weight: 600;
}
