.orderUserIdWrapper {
  width: auto;
  overflow-wrap: normal;
}

.widgetTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgButton {
  padding: 3px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.approved {
  background-color: #e5faf2;
  color: #3bb077;
}
.widgetLgButton.declined {
  background-color: #fff0f1;
  color: #d95087;
}
.widgetLgButton.pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}

.longIdWrapper {
  width: auto;
  overflow-wrap: normal;
}

@media screen and (max-width: 767px) {
  .orderUserIdWrapper {
    width: 70px;
    overflow-wrap: anywhere;
  }

  .longIdWrapper {
    width: 70px;
    overflow-wrap: anywhere;
  }
}
