.longIdWrapper {
  width: auto;
  overflow-wrap: normal;
}

.userThumb {
  width: 100px;
}

.standardUserIcon {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 991px) {
  .longIdWrapper {
    width: 70px;
    overflow-wrap: anywhere;
  }
  .userThumb {
    width: 80px;
  }
}
