.slideTitle,
.slideTitle:hover {
  color: #fff;
  text-decoration: none;
}

.carouselImage {
  height: 500px;
  object-fit: cover;
}

.carousel-indicators {
  padding-bottom: 30px;
}

.carousel-indicators button {
  border-radius: 5px;
  padding: 4px 15px;
  margin: 0 4px;
  /* border: 1px solid #aaa; */
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
  background-color: #000;
  box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.5);
}
