.productIdWrapper {
  width: auto;
  overflow-wrap: normal;
}

.productThumb {
  width: 100px;
}

@media screen and (max-width: 767px) {
  .productIdWrapper {
    width: 70px;
    overflow-wrap: anywhere;
  }
  .productThumb {
    width: 50px;
  }
}
