.productContainer {
  flex: 1;
  margin: 15px 0;
  min-width: 230px;
  height: 300px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: white;
  position: relative;
}

.infoWrapper {
  z-index: 3;
  margin-left: 10px;
}

.productContainer img {
  height: 100%;
  z-index: 2;
}
