.cartitem {
  width: 100%;
}

.productImage {
  max-width: 100%;
}

.cartItem__name {
  text-decoration: none;
  color: #171717;
}

.cartItem__name:hover {
  color: #daa520;
}

.cartItem__select {
  padding: 10px 17px;
}

.cartItem__deleteBtn {
  padding: 6px 12px;
  color: #e25d58;
  background: #f4f4f4;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}

.cartItem__deleteBtn:hover,
.carItem__deleteBtn:active,
.carItem__deleteBtn:focus {
  border: 1px solid rgb(124, 124, 124);
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.8rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 8px 13px;
  }

  .cartitem__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .cartItem__name {
    font-size: 0.6rem;
  }

  .cartItem__select,
  .cartItem__deleteBtn {
    padding: 5px 8px;
  }

  .cartitem__price {
    font-size: 0.6rem;
  }
}
