.cartitem {
  width: 100%;
}

.cartItem-image {
  width: 200px;
}

.cartItem-name {
  text-decoration: none;
  color: #171717;
}
.cartItem-name:hover {
  color: #daa520;
}

.cartItem-price {
  font-size: 30px;
  font-weight: 200;
}

.cartItem-deleteBtn {
  padding: 6px 12px;
  color: #e25d58;
  background: #f4f4f4;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}
.cartItem-deleteBtn:hover,
.cartItem-deleteBtn:active,
.cartItem-deleteBtn:focus {
  border: 1px solid rgb(124, 124, 124);
}

@media (max-width: 700px) {
  .cartItem-name {
    font-size: 0.8rem;
  }

  .cartItem-deleteBtn {
    padding: 8px 13px;
  }
}

@media (max-width: 700px) {
  .cartItem-name {
    font-size: 0.6rem;
  }

  .cartItem-deleteBtn {
    padding: 5px 8px;
  }
}
